<div class="content">
  <p>
    Bonjour je suis un digimon block
  </p>
  <ul>
    <li>Occidental Name : {{ tailmon.occidentalName }}</li>
    <li>Japanese Name : {{ tailmon.japaneseName }}</li>
    <li>Evolutions : {{ tailmon.evolutions }}</li>
    <li>PreEvolutions : {{ tailmon.preEvolutions }}</li>
    <li>Required Hp : {{ tailmon.requiredHp }}</li>
    <li>Required Mp : {{ tailmon.requiredMp }}</li>
    <li>Required Atk : {{ tailmon.requiredAtk }}</li>
    <li>Required Def : {{ tailmon.requiredDef }}</li>
    <li>Required Spd : {{ tailmon.requiredSpd }}</li>
    <li>Required Brain : {{ tailmon.requiredBrain }}</li>
    <li>Minimum Weight : {{ tailmon.minimumWeight }}</li>
    <li>Maximum Weight : {{ tailmon.maximumWeight }}</li>
    <li>Minimum Care Mistake : {{ tailmon.minimumCareMistake }}</li>
    <li>Maximum Care Mistake : {{ tailmon.maximumCareMistake }}</li>
    <li>Minimum Happiness : {{ tailmon.minimumHappiness }}</li>
    <li>Maximum Happiness : {{ tailmon.maximumHappiness }}</li>
    <li>Minimum Discipline : {{ tailmon.minimumDiscipline }}</li>
    <li>Maximum Discipline : {{ tailmon.maximumDiscipline }}</li>
    <li>Minimum Battle : {{ tailmon.minimumBattle }}</li>
    <li>Maximum Battle : {{ tailmon.maximumBattle }}</li>
    <li>Required Techs : {{ tailmon.requiredTechs }}</li>
    <li>Required Decode : {{ tailmon.requiredDecode }}</li>
    <li>Quota : {{ tailmon.quota }}</li>
  </ul>
</div>